
.main{
  width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

/*title*/
.project-title {
  font-size: 56px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
}




/*cards*/
.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
}

.linkProject{
  text-decoration: none;
  color: black;
}

.linkProject:hover{
  color:purple
}
.linkProject:visited{
  color:black
}
.linkProject:active{
  color:black
}

.project{
  text-align: center;
  font-size: 30px;
  padding: 10px;
  border: 2px #ccc solid;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #ccc;
  font-weight: bold;
  cursor: pointer;
}

.project:hover{
  box-shadow: 0px 10px 60px #e6e6ff   ;
  margin:-2px;
  color: #55198b
}

.projectImg{
  padding: 5px;
  width:300px;
  height: 250px;
  border-radius: 35px;
}









/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}